<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:15px; padding:50px;">
    <%- include('partials/_header') %>
    <table>
      <tr>
        <td><b>Full URL:</b></td>
        <td><b>Short form:</b></td>
        <td></td>
      </tr>
      <% for(element in urls) {%>
        <tr>
          <td><%= urls[element] %></td>
          <td><a href="/urls/<%= element%>"><%= element%></a></td>
          <td><form method="POST" action="/urls/<%= element%>/delete"><input type="submit" value="Delete"></form></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>

